<div class="container">
  <h1 class="text-center">Credit card Designer</h1>
  <mat-grid-list cols="4" rowHeight="100px" gutterSize="10">
    <mat-grid-tile [colspan]="2" [rowspan]="3">
      <app-default-card></app-default-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="6">
      <div class="card-form-wrapper">
        <app-card-form></app-card-form>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="3">
      <app-default-card [iSBack]="true"></app-default-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
